.DS_Store
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
yarn.lock
.stylelintcache

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.map

